# 注释
/ver/


# kdiff3 ignore
*.orig


# eclipse ignore
.settings/
.project
.classpath

LICENSE

# temp ignore
*.log
*.cache
*.diff
*.patch
*.tmp

# system ignore
.DS_Store
Thumbs.db

# package ignore (optional)
# *.jar
# *.war
# *.zip
# *.tar
# *.tar.gz
  *.txt
count.sh
.tmp.count
